body {
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
}
.container {
    width: 400px;
    height: 400px;
    margin: 160px auto;
    text-align: center;
}
.container div {
    width: auto;
    height: auto;
    padding: 10px;
    animation: olympic 500s linear infinite;
}
.container div.center-div {
    width: 50px;
    height: 50px;
    margin: auto;
}
.color01 {
    background-color: #1f1133;
}
.color02 {
    background-color: #5a1e40;
}
.color03 {
    background-color: #bc433f;
}
.color04 {
    background-color: #898dd8;
}
.color05 {
    background-color: #8fdad4;
}
.color06 {
    background-color: #a4ce6b;
}

@keyframes olympic {
    to {
        transform: rotate(-1800deg);
    }
}